* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header {

    width: 100%;
    height: 100px;
    display: block;
    background-color: #1A82D6;

}

.header_dentro {
    
    width: 1280px;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.logo_div {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

.logo {

    max-width: 100%;
    height: 55px;

}

.botoes_sign {

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Raleway';
    font-weight: bold;

}

.buttonIn {

    background-color: #1A82D6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px 0px 0px 6px;
}

.buttonIn:hover {

    color: white;
    background-color: #136eb9;

}

.buttonUp {

    background-color: #00C74F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.buttonUp:hover {

    color: white;
    background-color: #10A94D;

}

