* {

    margin: 0;
    padding: 0;
    text-decoration: none;

}

.sectionPerfilEmpresaAltura {


    width: 100%;
    height: 55vh;


}

.sectionPerfilEmpresaLargura {

    width: 50vw;
    height: 100%;
    display: flex;
    box-shadow: 0.1px 2px 5px 0px black;
    margin: 0 auto;
    margin-top: 15vh;
    background-color: #f5f5f5;

}

.tabelaPerfilEmpresa {

    margin-top: 3vh;
    margin-left: 2vh;
    margin-right: 2vh;

}

.itensPerfilEmpresa {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;

}

.itemPerfilEmpresa {

    padding: 2vh;
    margin-right: 2vw;

}

.sectionItensEmpresa {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.botoesPerfilEmpresa {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-left: 0.8vw;

}



