.tabelaVagasEmpresa {

    width: 100%;
    margin-top: 3vh;
    margin-left: 2vw;

}

.englobatudoNaPaginiaListagemDeVagas{

    background-color: #F8EFEF;
}
.estilizacaoDePaginaListagemVaga{

    display: flex;
    margin: 0 auto;
    margin-top: 5em;
    justify-content: space-around;

}

.LinkDeCardsDeVagaListagemdeVagas{
    width: 35%;
    height: 14em;
    text-decoration: none;
}

.sectionDeCardsDasVagas{
    display: flex;
    justify-content: space-around;
    flex-basis: 60%;
    flex-wrap: wrap;
}

.cardsDeVagas{
    
    cursor: pointer;
    color: #444;
    background-color: #eaeaea ;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #C1C1C1;
    width: 25em;
    height: 18em;
    margin-top: 1.5em;
}


.TituloCardaVagas{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.cardiparaEstilizacaoDeListagemDeVaga{
    min-width: 100%;
    padding: 0 1em 1em 1em;
    font-size: 1.1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border-radius: 10px;
}

.FiltoDeVagasListagem{
    background-color: #e5e5e5;
    box-sizing: border-box;
    border: 1px solid #C1C1C1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 26%;
    height: 40em;
    margin-top: 3vh;
}

.localeFaixaSalarialCard{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.linkDetalhesVaga {

    text-decoration: none;

}

.botaoVerVaga {

    width: 10vw;
    height: 4vh;
    background-color: #00CA51; 
    border: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 6px;
    margin-top: 2vh;

}

.botaoVerVaga:hover {

    background-color: #1A82D6;

}

.botaoVerVaga a {

    text-decoration: none;
    color: white;

}