* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

.body2 {

    width: 100%;

}

.sectionLargura2 {

    height: 100%;
    width: 99%;

}

.sectionImagePessoal img {

    width: 46%;
    height: 100%;
    position: absolute;
    
}

.sectionDadosPessoais {

    height: 939px;
    width: 1033px;
    margin-left: 45.2%;
    background-color: #F8EFEF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.middleSectionPessoal {

    width: 770px;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;

}

