*{
    margin: 0;
    padding: 0;
}
.textarea input[type="text"]:focus,
.textarea input[type="password"]:focus,
.textarea input[type="tel"]:focus,
.textarea textarea:focus {
  background-color: #fff;
}

.textarea input[type="text"],
.textarea input[type="password"],
.textarea input[type="tel"],
.textarea textarea {
  
  font-size: 20px;
  
  font-family: "Questrial";
  background-color: white;
  border: white;
}
.main{
    background-color: rgba(248, 239, 239, 1);
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.titulo hr{
    width: 300px;
    height: 2px;
    background-color: black;
}
.esp{
    width: 28px;
    height: 90px;
}
.titulo h1{
    font-size: x-large;
}
.controle{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: space-between;
}
.utilss{
    width: 50%;
    height: 500px;
}
.logovaga{
    width: 480px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.form-select{
    width: 260px;
    position: relative;
    margin-left: 609px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    background-color: white;
    

}

.form-cupom{
    width: 260px;
    position: relative;
    margin-left: 260px;
}
.input-btn{
    width: 110px;
    height: 35px;
    background-color: #00C74F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    position: relative;
    margin-left: 720px;
    margin-top: 70px;
    font-size: 22px;
   
}
.input-btn:hover{
    color: white;
    background-color: #10A94D;
    
}
.button{
   height: 40PX;
   width: 100px;
   background-color: #00CA51;
   border-radius: 6px;
   border: none;
   text-align: center;
   color: white;
   margin-left: 90px;
   font-size: 20px;


}

input[type="file"] {
    display: none;
}
label {
    border-radius: 6px;
    padding: 9px 9px;
    width: 120;
    height: 40;
    background-color: white;
    color: black;
    text-transform: uppercase;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 15px;
}


input[type="text"] {
    border-radius: 8px;
    margin-top: 29px;
    border: none;
    margin-left: 350px;
    height: 37px;
}
input[type="search"] {
    border-radius: 8px;
    width: 420px;
    height: 36px;
    border: none;
    color: white;
    margin-top: -35px;
    margin-left: 30px;  
    background-color: white;
    font-size: 20PX;
    
    
}
