.container_principal_vaga{
    background: #eeeeee

    ;
    width: 50vw;
    max-width: 74rem;
    border-radius: 0.8em;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem; 
    overflow: hidden;
    margin-top: 10vh;
 }

 .container_principal_vaga fieldset{
    border: 0;
    padding: 0 2.4rem;
}

.container_principal_vaga fieldset .campos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_principal_vaga form input:focus,
.container_principal_vaga form textarea:focus{
    outline: none !important;
}

.container_principal_vaga input{
    width: 40vw;
    height: 6vh;
    font-size: 18px;
    margin: 0.8rem 0rem;
    background: white;
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1rem;
    font-family: 'Raleway', sans-serif;
}

.container_principal_vaga select{
    width: 40vw;
}

.container_principal_vaga textarea{
    width: 40vw;
    font-size: 18px;
}

.container_principal_vaga label{
    font-size: 18px;
}

.container_principal_vaga input:focus,
.container_principal_vaga textarea:focus{
    outline: none;
    outline-color: none;
}

.container_principal_vaga fieldset + fieldset{
    margin-top: 6.4rem;
}

.container_principal_vaga fieldset legend{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    margin-bottom: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #1A82D6;
}

.container_principal_vaga fieldset legend button{
    background:  none;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    color: #935af7;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: color 0.2s;
}

.container_principal_vaga fieldset legend button:hover{
    color: #7A44D6;
}

.container_principal_vaga fieldset .input-block + .textarea-block,
.container_principal_vaga fieldset .select-block + .input-block{
    margin-top: 2.4rem;
}

.container_principal_vaga footer{
    padding: 4rem 2rem;
    border-top: 1px solid black;
    margin-top: 6.4rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_principal_vaga footer p{

    font-size: 1.4rem;
    line-height: 2.4rem;
}

.container_principal_vaga footer button{
    width: 20vw;
    height: 6vh;
    background: #00C74F;
    color: white;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.container_principal_vaga footer button:hover{
    background: #00923A;
}

.list_skills{
    width: 40vw;
    height: 40vh;
    background-color: #935af7;
    border-radius: 8px;
    margin-top: 1em;
    padding: 1em;
}

.list_skills thead{
    height: 5vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list_skills thead td{
    padding: 0.5em 1em;
    font-size: 16px;
    font-weight: 600;
}